<h1>Create a Team and Heroes!</h1>

<div class="col">

<form action="/teams" method="post">
  <h3>Team Name:</h3>
  <input type="text" name="team[name]">
  <h3>Team Motto:</h3>
  <input type="text" name="team[motto]">

  <% [1,2,3].each do |n| %>
    <h3>
      Member <%= n %>
    </h3>

    <h5>Name</h5>
    <input type="text" name="team[members][][name]" id="<%= "member#{n}_name" %>">
    <h5>Power</h5>
    <input type="text" name="team[members][][power]" id="<%= "member#{n}_power" %>">
    <h5>Bio</h5>
    <input type="text" name="team[members][][bio]" id="<%= "member#{n}_bio" %>">
  <% end %>

  <input type="submit" id="submit">
</form>

</div>

<!-- <div class="col">
<h1>Existing:</h1>
<% @members.each do |member| %>
  <p>
    <%= member.name %>
  </p>
<% end %>
</div> -->
